body{
    background: url('../public/images/storm-g062001302_1920.jpg') no-repeat center center/cover;
    color:#fff;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    box-sizing: border-box;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.cityName{
    font-size: 30px;
    font-weight: 700;
}
.degree{
    font-weight: 700;
    font-size: 90px;
}
.type{
    transform: rotate(270deg);
    position: relative;
    top: 20px;
    right: -80px;
}

@media only screen and (min-width: 600px) {
    .degree{
        font-weight: 700;
        font-size: 90px;
        text-align: center;
    }
    .type{
        transform: rotate(0deg);
        position: relative;
        top: 20px;
        right: -80px;
    }
  }